{% extends 'base.html' %}

{% block headercontent %}
<title>Formulář</title>
<style>
	.btn {
		margin-top: 5px;
	}

	.my-1 {
		margin:8px 0;
	}

    #navbar {
        background-color: black;
        color: black;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        flex-wrap: wrap;
        align-items: center;
        margin-down: 2rem;
    }
    .text-primary {
      color:green
    }
    #navbar a {
      color: white;
      text-decoration:none;
    }
  
    #navbar ul {
      display: flex;
      flex-wrap:wrap;
      list-style: none;
  }
    #navbar ul li a {
      padding: 0.75rem;
      margin: 0.0.25rem;
    }
  
    #navbar ul li a:hover {
      background-color: black;
      border-radius: 5px;
    }

    .mmt {
        margin-top: 2rem;
    }
  
</style>
{% endblock %}



{% block pagecontent %}
<nav id="navbar">
    <div id="logo">

    <h1><a href="{% url 'hlavnistranka' %}">|Motivace|<-zpět na stránku</a></h1>
    <ul>
        <li><a href="{% url 'hlavnistranka' %}#what"><i class="fa-solid fa-circle-info"></i> INFORMACE</a></li>
        <li><a href="{% url 'hlavnistranka' %}#who"><i class="fa-solid fa-question"></i> Co je to motivace?</a></li>
        <li><a href="{% url 'hlavnistranka' %}#knihy"><i class="fa-solid fa-book"></i> Motivační knihy</a></li>
        <li><a href="{% url 'hlavnistranka' %}#guys"><i class="fa-solid fa-users-line"></i> Motivační řečníci</a></li>
        <li><a href="{% url 'hlavnistranka' %}#zdroje"><i class="fa-solid fa-pen"></i> Zdroje</a></li>
        <li><a href="{% url 'formular' %}"><i class="fa-solid fa-circle-check"></i>Formulář</a></li>
    </ul>
</div>
</nav>
<form action="#">

    <div class="text-center mmt"><label for="krestni">Křestní Jméno</label></div>
    <div class="text-center"><input type="text" name="krestni" id="krestni" placeholder="Vaše Křestní Jméno"></div>
    <br>
    <div class="text-center"><label for="prijmeni">Příjmení</label></div>
    <div class="text-center"><input type="text" name="prijmeni" id="prijmeni" placeholder="Vaše Příjmení"></div>
    <br>

    <div class="my-1 text-center">
        <label for="muz">Muž</label>
        <input type="radio" name="pohlavi" id="muz">
        <label for="muz">Žena</label>
        <input type="radio" name="pohlavi" id="zena">
        <label for="muz">Ostatní</label>
        <input type="radio" name="pohlavi" id="ostatni">
    </div>
    <div class="text-center">
    <H4>Jak se chcete sejít?</H4>
    <label for="internet">Přes internet</label>
    <input type="checkbox" name="internet" id="internet">
    <br>
    <label for="osobne">Osobně</label>
    <input type="checkbox" name="osobne" id="osobne">
    <br>
    <br>
    <label for="situace">S čím chcete pomoct?</label>
    <br>
    <textarea name="situace" name="textarea" rows="10" cols="50"></textarea>
    <br>
    <label for="url">Kontakt na vás</label>
    <br>
    <input type="text" id="Kontakt" name="Kontakt" placeholder="E-mail nebo Tel. číslo">
</div>
    <div class="btn1">
        <input type="submit" value="Odeslat">
    </div>
</form>
{% endblock %}